@value backgroundBlue from '../common/colors.css';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.settingTitle {
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  margin: 0 20px;
}

.settingType {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0px 1px 3.5px 1px;
  cursor: pointer;
}

.seleted {
  border-bottom: 3px solid backgroundBlue;
}
