@value backgroundBlue from '../common/colors.css';

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: backgroundBlue;
}

.title {
  letter-spacing: 3px;
}

.yellowText {
  color: rgb(255, 238, 0);
  font-weight: 800;
  letter-spacing: 0px;
  margin-right: 3px;
}
