* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

input,
button {
  outline: none;
}

button {
  border: none;
}

ul {
  list-style: none;
}

.bottom {
  position: sticky;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: white;
}
